<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT PAGE</title>
</head>
<body>
    <h1>EDIT PAGE WORKING</h1>
    <form action="/arts/<%= art._id%>?_method=PUT" method="POST"> 
        Name: <input type="text" name="Name" value="<%=art.name%>" /><br />
        Description:  <input type="text" name="Description" value="<%=art.description%>" /><br />
        Rarity:  <input type="text" name="Rarity" value="<%=art.rarity%>" /><br />
        Image:  <input type="img" name="Image" value="<%=art.image%>" /><br />
        Price:  <input type="number" name="Price" value="<%=art.price%>" /><br />
        Quantity:  <input type="number" name="Quantity" value="<%=art.quantity%>" /><br />
        <br />
        <input type="Submit" value="Submit Changes">
    </form>
    <a href="/arts">Back To Index Page (Home Page)</a>
</body>
</html>