<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT PAGE</title>
</head>
<body>
    <h1>EDIT PAGE WORKING</h1>
    <form action="/arts/<%=Art._id%>?_method=PUT" method="POST"> 
        Name: <input type="text" name="Name" value="<%=Art.Name%>" /><br />
        Description:  <input type="text" name="Description" value="<%=Art.Description%>" /><br />
        Rarity:  <input type="text" name="Rarity" value="<%=Art.Rarity%>" /><br />
        Image:  <input type="img" name="Image" value="<%=Art.Image%>" /><br />
        Price:  <input type="number" name="Price" value="<%=Art.Price%>" /><br />
        Quantity:  <input type="number" name="Quantity" value="<%=Art.Quantity%>" /><br />
        <br />
        <input type="submit" value="Commit Changes">
    </form>
    <a href="/arts">Back To Index Page (Home Page)</a>
</body>
</html>