<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/edit.css">
    <link rel="stylesheet" href="/public/skeleton.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>EDIT PAGE</title>

    <footer style="background: aquamarine;">
        <nav>
            <a href="/arts">Back To Index Page</a> 
        </nav>
    </footer>

</head>
<body>
    <div class="main-box">
        <form action="/arts/<%=Art._id%>?_method=PUT" method="POST"> 
            Name: <input type="text" name="Name" value="<%=Art.Name%>" /><br />
            Description:  <input type="text" name="Description" value="<%=Art.Description%>" /><br />
            Rarity:  <input type="text" name="Rarity" value="<%=Art.Rarity%>" /><br />
            Image:  <input type="img" name="Image" value="<%=Art.Image%>" /><br />
            Price:  <input type="number" name="Price" value="<%=Art.Price%>" /><br />
            Quantity:  <input type="number" name="Quantity" value="<%=Art.Quantity%>" /><br />
            <br />
            <input type="submit" value="Commit Changes">
        </form>
    </div>
    
</body>

<footer style="background: aquamarine;">
    <p>Copyright © 2022 All Rights Reserved</a></p>
</footer>

</html>