<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyberArt</title> 
    <!-- add icon to url -->
</head>
<body>
    <ul>
        <% Art.forEach(Art => { %>
                <a href="/arts/<%= Art._id; %>"> 
                    <img src="<%=Art.Image%>" alt="Picture" /></a>
                    <a> PRICE: $<%=Art.Price; %></a>
                    <a> RARITY: <%= Art.Rarity; %></a>
                    <a> QUANTITY: <%= Art.Quantity; %></a>              
                <a href="/arts/<%= Art._id; %>/edit"><input type="button" value="EDIT ART"></a> </br>
               <% }) %>    
      </ul>
   
    <nav>
        <a href="/arts/new">Create A New Art</a>
    </nav>

</body>
</html>