<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/show.css">
    <link rel="stylesheet" href="/public/skeleton.css">
    <title>SHOW PAGE</title>
</head>
<body>
    <h1>SHOW PAGE WORKING</h1>
    <nav>
        <a href="/arts">Back To Index Page</a> 
    </nav>
    <h1><%= Art.Name %></h1>
    <img src="<%=Art.Image %>"> 
    <h4>PRICE: $<%= Art.Price%></h4>
    <h4>QUANTITY: <%= Art.Quantity%></h4>
    <h4>DESCRIPTION: <%= Art.Description%></h4>  
    <a href="/arts/<%=Art._id %>/edit"><input type="button" value="EDIT"></a>
    <form action="/arts/<%= Art._id %>/buy" method="POST">
        <input type="submit" value="BUY" />
    </form>
    <form  action="/arts/<%= Art._id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
    </form>
</body>
</html>